@model List<Training0302.Models.EMPLOYEE>



@if (Model.Count > 0)
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Mã nhân viên</th>
                <th>Họ tên</th>
                <th>Ngày sinh</th>
                <th>Giới tính</th>
                <th>Địa chỉ</th>
                <th>Email</th>
                <th>Số điện thoại</th>
                <th>Tùy chọn</th>



            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr id="@item.ID.Trim()">
                    <td class="td-id">@item.ID.Trim()</td>
                    <td class="td-edit td-name">@item.NAME</td>
                    <td class="td-edit td-birthday js-format-date" data-date="@item.BIRTHDAY.ToString("dd/MM/yyyy")">@item.BIRTHDAY.ToString("dd/MM/yyyy")</td>
                    <td class="td-edit td-gender"><span>@(item.GENDER == true ? "Nam" : "Nữ")</span><div></div></td>
                    <td class="td-edit td-address">@item.ADDRESS</td>
                    <td class="td-edit td-email">@item.EMAIL</td>
                    <td class="td-edit td-phone">@item.PHONE</td>
                    <td>
                        <button class="btn btn-primary editList" data-id="@item.ID.Trim()">Sửa</button>
                        <button class="btn btn-danger deleteList" data-id="@item.ID.Trim()">Xóa</button>
                    </td>

                </tr>


            }
            <tr class="row-list hide">
                <td class="td-edit td-id"></td>
                <td class="td-edit td-name"></td>
                <td class="td-edit td-birthday js-format-date"></td>
                <td class="td-edit td-gender"><span></span><div></div></td>
                <td class="td-edit td-address"></td>
                <td class="td-edit td-email"></td>
                <td class="td-edit td-phone"></td>
                <td><button class="btn btn-danger deleteList" data-id="row-delete">Xóa</button></td>
            </tr>




        </tbody>
    </table>
}
else
{
    <span>Không tìm thấy kết quả</span>}
